[submodule "submodules/CppAd"]
	path = submodules/CppAd
	url = git@github.com:ebertolazzi/CppAD.git
[submodule "submodules/CppAdCodegen"]
	path = submodules/CppAdCodegen
	url = git@github.com:ebertolazzi/CppADCodeGen.git
[submodule "cmake_utils"]
	path = cmake_utils
	url = git@github.com:ebertolazzi/cmake_utils.git
